
@{
    ViewBag.Title = "Index";
    var imagePath = Server.MapPath("~/Content/Images");
    var files = Directory.GetFiles(imagePath);
}

<h2>Index</h2>



Total images: @files.Count()
<ul class="picsList">
    @foreach (var file in files)
    {
        <li>
            <a href="">
                <img src="~/Content/Images/@Path.GetFileName(file)" alt="Sample Image" width= "150" />
                <p>aaaaaaaaaa</p>
            </a>
        </li>
    }
</ul>






